/* Bootstrap column overrides */

div.col-sm-9 {
  margin-bottom: $spacing-unit;
}

div.col-sm-3 {
  h2 {
    @include font-size($h2-menu-n);

    @include media-query($on-laptop) {
      @include font-size($h2-menu-l);
    }
    font-weight: $font-weight-menu;
    margin-top: $spacing-unit / 4;
  }
  ul {
    margin-left: 1.5em;
  }
  li {
    @include font-size($li-menu-n);
    font-weight: $font-weight-menu;
    margin-bottom: $spacing-unit / 4;
  }
}

/* Miscellaneous */

.description {
    @include font-size($subheader);
}

dl {
  dt {
    @include font-size($dt-normal);
    font-weight: 500;
  }
  dd {
    margin-bottom: $spacing-unit * 0.7;
    margin-left:   $spacing-unit;
  }
}
