{% set site = {
    ainspector_version: "1.1.0",
    ainspector_xpi_file: "ai-sidebar-1.1.0.xpi",
    evaluation_library_version: "1.1.0",
    mozilla_addons: "Mozilla Add-ons",
    mozilla_url: "https://addons.mozilla.org/en-US/firefox/addon/ainspector-sidebar/",
    name: "AInspector Sidebar",
    title: "AInspector Sidebar — Documentation"
  }
%}

{% set guides = [
    { text: "Getting Started",     url: "overview.html"},
    { text: "Concepts and Terms",  url: "concepts.html"},
    { text: "Rulesets",            url: "rulesets.html"},
    { text: "Views",               url: "views.html"},
    { text: "Screen Reader Users", url: "screen-reader.html"},
    { text: "Installation Guide",  url: "installation.html"}
  ]
%}

{% set html5_aria = {
    name: "HTML5 and ARIA Techniques",
    rules_total: 132,
    rules_required: 120,
    rules_recommended: 12,
    url: "https://fae.disability.illinois.edu/rulesets/ruleset/ARIA_STRICT/"
  }
%}

{% set html4_legacy = {
    name: "HTML4 Legacy Techniques",
    rules_total: 122,
    rules_required: 81,
    rules_recommended: 41,
    url: "https://fae.disability.illinois.edu/rulesets/ruleset/ARIA_TRANS/"
  }
%}

{% set latest = {
    bootstrap: "3.3.6",
    jquery: "1.12.0"
  }
%}
