{% set site = {
    ainspector_version: "1.0.0-beta.2",
    ainspector_xpi_file: "ai-sidebar-1.0.0-beta.2.xpi",
    evaluation_library_version: "1.0.0-beta.4",
    mozilla_addons: "Mozilla Add-ons",
    mozilla_url: "https://addons.mozilla.org/en-US/firefox/addon/ainspector-sidebar/",
    name: "AInspector Sidebar",
    title: "AInspector Sidebar — Documentation"
  }
%}

{% set guides = [
    { text: "Getting Started",     url: "overview.html"},
    { text: "Concepts and Terms",  url: "concepts.html"},
    { text: "Rulesets",            url: "rulesets.html"},
    { text: "Views",               url: "views.html"},
    { text: "Screen Reader Users", url: "screen-reader.html"},
    { text: "Installation Guide",  url: "installation.html"}
  ]
%}

{% set latest = {
    bootstrap: "3.3.6",
    jquery: "1.12.0"
  }
%}
