{% extends "base.html" %}
{% set title = "Concepts and Terms" %}

{% block content %}
{% markdown %}
## Basic Concepts

<dl>
<dt>Rule</dt>
<dd>A low-level accessibility conformance requirement with numerous components, the most basic of which are a definition, an evaluation function, and result messages. When a rule is evaluated, it is assigned a rule result value.</dd>

<dt>Target resources</dt>
<dd>The set of HTML elements to which a particular rule applies. These include familiar elements such as `div`, `img` and `input`, as well as a pseudo-element designated as `page`, which is a placeholder for the document element. When a rule is evaluated, each of its target resources is assigned an element result value.</dd>

<dt>Ruleset</dt>
<dd>A set of rules that embodies specific standards conformance goals. Each rule within a ruleset is designated as either required or recommended, according to its relationship to the conformance goals of the ruleset.</dd>

<dt>Evaluation</dt>
<dd>The application of all evaluation functions of all rules in the selected ruleset to their corresponding target resources in a web page, and the subsequent collection of all evaluation results and messages, at both the rule and element levels, into a dataset.</dd>

<dt>Rule result</dt>
<dd>The aggregate result of a rule evaluation with respect to its target resources (all of its target elements and/or the entire page).</dd>

<dt>Element result</dt>
<dd>The result of a rule evaluation with respect to one of its target elements.</dd>
</dl>

## Rule and element result values

<dl>
<dt>`V` Violation</dt>
<dd>One or more target elements fail the requirements of a required rule</dd>

<dt>`W` Warning</dt>
<dd>One or more target elements fail the requirements of a recommended rule</dd>

<dt>`MC` Manual check</dt>
<dd>Unable to programmatically determine a result &#8211; evaluation requires human inspection</dd>

<dt>`P` Pass</dt>
<dd>All rule requirements were satisfied</dd>

<dt>`N/A` Not applicable</dt>
<dd>Rule was not applied because there were no relevant target elements</dd>

<dt>`H` Hidden</dt>
<dd>Target element was not evaluated because it is hidden (either visually or from assistive technologies)</dd>
</dl>

## More about rules, target resources and result values

* A rule tests target resources for specific accessibility features.

* Some rules are fully automated and return pass or fail results and messages.

* Other rules can only identify the need for human judgement to determine whether an accessibility requirement has been met. These return manual check results and messages.

* If target resources are not found on the page, the rule result is designated as not applicable.

* If target resources for a rule are hidden, their element results are designated as hidden. Although hidden elements are not evaluated, they are listed at the element results level to enable developers to consider their accessibility if and when they become available to users.

* Rules also include information on accessibility techniques and links to related resources to help developers understand how to meet the requirements of a rule.
{% endmarkdown %}
{% endblock %}
