{% extends "base.html" %}
{% set title = "Downloads" %}

{% block content %}
{% markdown %}
See the [About page](about.html) for release notes.

Subscribe to the [OAA Tools Announcements](https://lists.illinois.edu/lists/subscribe/oaa-tools-announcements)
list to receive an email notification when a new release is added.

## Latest Release

### [AInspector Sidebar v1.0.0-beta.2]({{ site.mozilla_url }})
21 Jan 2016 &mdash; Available at {{ site.mozilla_addons }}

## Prior Releases

### [AInspector Sidebar v1.0.0-beta.1]({{ site.mozilla_url }}versions/)
1 Oct 2015 &mdash; Available at {{ site.mozilla_addons }}

### [AInspector Sidebar v0.16.8.5]({{ site.mozilla_url }}versions/)
31 Aug 2015 &mdash; Available at {{ site.mozilla_addons }}

### [AInspector Sidebar v0.16.8.4]({{ site.mozilla_url }}versions/)
26 Aug 2015 &mdash; Available at {{ site.mozilla_addons }}
{% endmarkdown %}
{% endblock %}
