{% extends "base.html" %}
{% set title = "AInspector Sidebar" %}
{% set description = "Web accessibility evaluation tool for Firefox based on WCAG 2.0 and ARIA" %}
{% set home_page = true %}

{% block content %}
{% markdown %}
The latest version of AInspector Sidebar, `v{{ site.ainspector_version}}`, is available at the [**{{ site.mozilla_addons }} page**]({{ site.mozilla_url }}).

<strong>Important Note:</strong> AInspector Sidebar is incompatible with Firefox Quantum (versions 57 and later).

To use AInspector Sidebar, you will need to:
* Install [Firefox Extended Support Release (ESR) version 52.7.3](https://www.mozilla.org/en-US/firefox/organizations/all/)
* Install AInspector Sidebar as an add-on to Firefox ESR

For more information, see the [Installation Guide](installation.html).

<img src="images/summary.png" alt="Summary view screen shot"/>
{% endmarkdown %}
{% endblock %}
