{% extends "base.html" %}
{% set title = "Installation Guide" %}
{% set description = "Steps for installing the AInspector Sidebar extension as a Firefox Add-on" %}

{% block content %}
{% markdown %}
## Important Note: Compatibility with Firefox

After the Nov. 14, 2017 release of Firefox 57, in order to run AInspector Sidebar it will be necessary to install an older version of Firefox. We recommend installing [Firefox ESR 52](https://ftp.mozilla.org/pub/firefox/releases/52.3.0esr/). More information about the Firefox Extended Support Release program can be found on the [Firefox ESR FAQ page](https://www.mozilla.org/en-US/firefox/organizations/faq/).

Once you've installed Firefox ESR 52, continue with the following steps.

## [Visit the {{ site.mozilla_addons }} page]({{ site.mozilla_url }})

There you will find the latest signed version of AInspector Sidebar. If you are running a compatible version of Firefox, you can click the `Add to Firefox` button to install. Otherwise, please continue with the following steps.

## Download the XPI file

Select the `Download Anyway` link.

Please note the following:

* The folder location to which you download the file

* The name of the XPI file, for example: `{{ site.ainspector_xpi_file }}`

## Install within Firefox

Once you have downloaded the XPI file, launch Firefox and follow these steps:

* From the main menu in Firefox, go to Tools > Add-ons

* At the top of the Add-ons Manager page, select the &lsquo;Tools for all add-ons&rsquo; button (the &lsquo;gear&rsquo; icon), and from its menu, select &lsquo;Install Add-on From File...&rsquo;

* In the &lsquo;Select add-on to install&rsquo; dialog, select the downloaded XPI file and choose &lsquo;Open&rsquo;

* An Add-ons Manager dialog box will appear &#8211; select the &lsquo;Install Now&rsquo; button

* When prompted, select the &lsquo;Restart Firefox&rsquo; button
{% endmarkdown %}
{% endblock %}
