{% extends "base.html" %}
{% set title = "Installation Guide" %}
{% set description = "Steps for installing the AInspector Sidebar extension as a Firefox Add-on" %}

{% block content %}
{% markdown %}
## Important Note: AInspector Sidebar compatibility with Firefox

After the Nov. 14, 2017 release of Firefox 57, in order to run AInspector
Sidebar it will be necessary to install an older version of Firefox.

We recommend installing the Firefox Extended Support Release (ESR). More
information about the Firefox ESR program can be found on the [Firefox ESR
FAQ page](https://www.mozilla.org/en-US/firefox/organizations/faq/).

## Installing the Firefox ESR

### 1. Save your Firefox bookmarks
* Launch your current version of Firefox
* Select `Bookmarks` > `Show All Bookmarks`
* From the toolbar, select the `Import and backup your bookmarks` menu button
(the `star` icon)
* From that button's menu, select `Backup...`
* Save your bookmarks to a location you will remember

### 2. Uninstall your current version of Firefox
* Use the procedure appropriate to your operating system

### 3. Download and install Firefox ESR

* [Download Firefox ESR](https://www.mozilla.org/en-US/firefox/organizations/all/)
* Launch the installer and follow the instructions it provides

In most cases, if you've followed the steps outlined above, Firefox ESR will
automatically find your bookmarks and other settings that were part of your
Firefox profile from the version you uninstalled.

If this is not the case, you can import the bookmarks you saved into Firefox
ESR.

## Installing AInspector Sidebar

### Method 1: Using a compatible version of Firefox (e.g. ESR)

* [Visit the {{ site.mozilla_addons }} page]({{ site.mozilla_url }})
* Select the `Add to Firefox` button

### Method 2: Using a different browser

* Download the XPI file by selecting the `Download Anyway` link
* Note: Remember the folder location to which you download the file
* Launch a compatible version of Firefox
* From the main menu in Firefox, go to `Tools` > `Add-ons`
* At the top of the Add-ons Manager page, select the `Tools for all add-ons`
button (the `gear` icon)
* From its menu, select `Install Add-on From File...`
* In the `Select add-on to install` dialog, select the downloaded XPI file
and choose `Open`.
* An Add-ons Manager dialog box will appear &#8211; select the `Install Now` button.
* When prompted, select the `Restart Firefox` button
{% endmarkdown %}
{% endblock %}
