{% extends "base.html" %}
{% set title = "Views" %}

{% block content %}
{% markdown %}
AInspector Sidebar is organized by views at three distinct levels. This allows you to progressively examine the high-level evaluation results for the entire page across all rule categories, mid-level results for each category of rules, and low-level results for each rule and the elements on the page to which the rule was applied.

## Summary view

The top-level Summary view provides a table of aggregated rule results across all **Rule Categories** or **WCAG Guidelines**, selectable via a tab panel. Each result row indicates the number of rule violations (V), warnings (W), manual checks (MC) and passes (P) for all of the rules within that category or guideline.


## Rule Category view

The Category/Guideline view provides a **Rule Results** table that lists the results for the application of each rule within the selected grouping. Each rule result includes the following:

* Rule summary: a short description of the rule
* Rule result value: V, W, MC, P or N/A (not applicable)
* WCAG Success Criterion (SC) to which the rule corresponds
* WCAG Level of the SC: A or AA
* Whether the rule is Required or Recommended within the context of the ruleset

Below the Rule Results table is a text box labeled **Selected Rule** that contains the full definition and recommended actions for each rule when it is selected in the Rule Results table.

## Rule Details view

The Rule Details view provides information relating to the evaluation results for a specific rule, along with information on the rule itself. It contains a tab panel with two sub-views.

* The first panel, labeled **Details/Actions**, provides the full rule definition, its purpose, the actions needed, if any, to bring the page into compliance with the rule requirements, recommended techniques for meeting the rule requirements, and other information.
* The second panel, labeled **Element Results**, lists each element to which the rule was applied, the element-level result, V, W, MC, P or H (hidden), the element position within the page, and a message, if applicable, that indicates recommended actions for bringing the element into compliance with the rule.
{% endmarkdown %}
{% endblock %}
